.title {
  font-size: 3em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px
}

.link {
  color: rgb(255, 255, 255);
  font-family: rubik,arial,sans-serif;
  font-size: 16px;
  display: block;
  padding: 16px 45px;
  border-radius: 5px;
  background-color: #4481c3;
}

.link:hover {
  background-color: #3a6ea7;
}
